# Access a Database (e.g. Postgres or Redshift) From a Jupyter Notebook

### dependency requirements:
- ipython-sql
- psycopg2

### optional:
- `conda install pgspecial` https://github.com/dbcli/pgspecial

### Documentation Links:
- https://github.com/catherinedevlin/ipython-sql
- https://jupyter-tutorial.readthedocs.io/en/latest/data-processing/postgresql/ipython-sql.html

In [3]:
import os
from urllib import parse

In [4]:
%load_ext sql

In [5]:
config = {
    "DWH_DB_USER": "postgres",
    "DWH_DB_PASSWORD": parse.quote("postgres"),
    "DWH_URL": "127.0.0.1",
    "DWH_PORT": 5432,
    "DWH_DB": "postgres",
}

In [6]:
# One Option: Use Python's Asterisk Operator:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(*config.values())

In [7]:
# Other Option: List Values Explicitely with str.format():
conn_string = "postgresql://{}:{}@{}:{}/{}".format(
    config["DWH_DB_USER"],
    config["DWH_DB_PASSWORD"],
    config["DWH_URL"], 
    config["DWH_PORT"],
    config["DWH_DB"],
)

In [8]:
conn_string

'postgresql://david:postgres@127.0.0.1:5432/recordings'

In [9]:
%sql $conn_string

'Connected: david@recordings'

### Documentation:
- single line sql -> use with variables from iPython session
- single line, but a str var
- multi line (no vars possible, only str)

#### save output to the variable `data` in memory

```ipython
result = %sql SELECT * FROM accounts;
```

```ipython
%%sql data <<
SELECT *
FROM security.wiz_iac_scan_results
LIMIT 20;
```

In [ ]:
%sql CREATE DATABASE recordings;

In [ ]:
%%sql
CREATE USER david WITH PASSWORD 'postgres';
GRANT ALL PRIVILEGES ON DATABASE recordings TO david;

In [25]:
%%sql
START TRANSACTION;
DROP TABLE IF EXISTS album;
CREATE TABLE album (
  id         SERIAL PRIMARY KEY NOT NULL,
  title      VARCHAR(128) NOT NULL,
  artist     VARCHAR(255) NOT NULL,
  price      DECIMAL(5,2) NOT NULL
);

INSERT INTO album
  (title, artist, price)
VALUES
  ('Blue Train', 'John Coltrane', 56.99),
  ('Giant Steps', 'John Coltrane', 63.99),
  ('Jeru', 'Gerry Mulligan', 17.99),
  ('Sarah Vaughan', 'Sarah Vaughan', 34.98);
END TRANSACTION;

 * postgresql://david:***@127.0.0.1:5432/recordings
Done.
Done.
Done.
4 rows affected.
Done.

[]

In [26]:
%sql SELECT * FROM album;

 * postgresql://david:***@127.0.0.1:5432/recordings
4 rows affected.

[(1, 'Blue Train', 'John Coltrane', Decimal('56.99')),
 (2, 'Giant Steps', 'John Coltrane', Decimal('63.99')),
 (3, 'Jeru', 'Gerry Mulligan', Decimal('17.99')),
 (4, 'Sarah Vaughan', 'Sarah Vaughan', Decimal('34.98'))]